
#category {
    width: 200px;
    height: 600px;
    float: left;
    background-color: #343434;
}

#logo {
    width: 200px;
    height: 48px;
    margin-left: 16px;
    margin-top: 40px;
}

#category li {
    height: 50px;
    list-style-type: square;
}

#cate-item {
    font-size: 13px;
}

.selected {
    background-color: red;
}

a {
    text-decoration: none;
    color: #8D8D8D;
}

#contents {
    width: 760px;
    height: 600px;
    float: left;
    background-color: #292929;
}

.list {
    padding-left: 42px;
    padding-top: 48px;
    font-size: 15px;
}

#contents li {
    float: left;
    padding: 30px 30px 0 0;
    list-style: none;
}

#contents .item {
    width: 206px;
    height: 140px;
    background-color: #343434;
    color: #8D8D8D;
}

/* .circle {
    width: 54px;
    height: 54px;
    border-style: solid;
    border-bottom-width: 1px;
    border-radius: 100%;
    border-color: #007277;
    margin-left: 76px;
    margin-top: 30px;
} */

.icon {
    width: 24px;
    height: 24px;
}